<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="list">Messaging Application</a>
  <div class="spacer"></div>
  <ul class="navbar-nav mr-auto">
    <li *ngIf="userIsAuthenticated" class="nav-item">
      <a class="nav-link" routerLink="create">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="nav-item">
      <div class="nav-link" (click)="onLogout()">Logout</div>
    </li>
  </ul>
</nav>
