<div *ngIf="isLoading" class="loader"></div>

<table class="table table-dark tableMargin" *ngIf="posts.length > 0 && !isLoading">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Post</th>
      <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <th>{{post.title}}</th>
      <td>{{post.content}}</td>
      <td>
        <a [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active"  class="btn btn-primary btnMargin">Edit</a>
        <button type="button" class="btn btn-danger btnMargin" (click)="onDelete(post.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<p class="text-center" *ngIf="posts.length <= 0 && !isLoading">No Posts Added Yet</p>
