.tableMargin {
  margin-top: 2rem;
}

.btnMargin {
  margin-left: 5px;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

img {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0,0,0);
}

mat-pagination {
  margin-top: 1rem;
}
